button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__primary;
	background: $color__primary;
	color: $color__text-main;
	@include font-size(1);
	line-height: 1;
	padding: .6em 2em .4em;

	&:hover {
		background: rgba( $color__primary, 0.1 );
	}

	&:active,
	&:focus {
		background: rgba( $color__primary, .1 );
	}
}
