button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.legit-button {
	transition: all 0.125s ease-in;
	border-width: 0px;
	border-radius: 4px;
	@include var(background, primary);
	@include var(color, textmain);
	@include font-size(1);
	line-height: 1;
	font-weight: 700;
	padding: .75em 1em;

	&:hover,
	&:active,
	&:focus {
		@include var(background, primarylight);
		@include var(color, primarydark);
	}

	&.legit-button-alt {
		color: $color__text-input;
		background-color: rgba($color__background-button, 0.5);

		&:hover,
		&:focus {
			@include var(color, textmain);
			background-color: rgba($color__background-button, 0.75);
		}
	}

	&.legit-button-white {
		@include var(background-color, body);

		&:hover,
		&:focus {
			@include var(color, textmain);
			background-color: rgba($color__background-button, 0.75);
		}
	}

	&.legit-search {
		margin-right: -1em;
	}
}

.legit-button {
	text-decoration: none;
}

