ul, ol {
	margin: 0 0 $size__padding-xlarge 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.25em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $size__padding-xlarge $size__padding-xlarge;
}
