/*--------------------------------------------------------------
## Audio Block
--------------------------------------------------------------*/
.wp-block-audio {
    audio {
        width: 100%;
    }
}

/*--------------------------------------------------------------
## Blockquote Block
--------------------------------------------------------------*/
.wp-block-quote {
    p {
        margin-bottom: 0.25em;
        
        &:last-of-type {
            margin-bottom: 0.25em;
        }
    }

    &:not(.is-large) {
        &:not(.is-style-large) {
            border-color: $color__primary;
        }
    }
}

/*--------------------------------------------------------------
## Pull Quote Block
--------------------------------------------------------------*/
.wp-block-pullquote {
    margin-bottom: $size__padding-xlarge;
    border-color: $color__text-main;

    p {
        margin-bottom: 1.25em;
    }
    
    &.alignleft {
        margin-left: 0;
    }

    &.alignright {
        margin-right: 0;
    }
}

/*--------------------------------------------------------------
## Cover Image Block
--------------------------------------------------------------*/
.wp-block-cover-image {
    margin-bottom: $size__padding-xlarge;
}

/*--------------------------------------------------------------
## Separator
--------------------------------------------------------------*/
.wp-block-separator {
    margin: $size__padding-xlarge auto;
}