$font__main: 'Merriweather', Georgia, Times, 'Times New Roman', serif;
$font__code: 'Courier New', Courier, monospace;
$font__pre: 'Courier New', Courier, monospace;
$font__line-height-body: 2;
$font__line-height-pre: 1.8;