a {
	@include var(color, textmain);
	font-weight: 700;
	
	&:visited {
		@include var(color, primarydark);
	}
	&:hover,
	&:focus,
	&:active {
		@include var(color, primarydark);
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.site-title,
.entry-title,
.entry-content,
.banner-text {
	a {
		&:not(.wp-block-button__link):not(.button) {
			@include var(border-bottom, primary, 1px solid);
			@include var(box-shadow, primary, inset 0 -4px 0 0);
			@include var(color, textmain);
			display: inline;
			font-weight: 700;
			text-decoration: none;
			transition: all .25s ease-in;
			
			&:visited {
				@include var(color, textmain);
			}
			&:hover,
			&:focus,
			&:active {
				@include var(box-shadow, primary, inset 0 -2em 0 0);
				@include var(color, textmain);
			}
		}
	}
}

.comment-author {
	.fn a {
		@include var(border-bottom, primary, 1px solid);
		@include var(box-shadow, primary, inset 0 -2px 0 0);
		@include var(color, textmain);
		display: inline;
		font-weight: 700;
		text-decoration: none;
		transition: all .25s ease-in;
		
		&:visited {
			@include var(color, textmain);
		}
		&:hover,
		&:focus,
		&:active {
			@include var(box-shadow, primary, inset 0 -2em 0 0);
			@include var(color, textmain);
		}
	}
}

.comment-metadata {
	a {
		@include var(color, secondary);

		&:hover,
		&:focus {
			@include var(color, primarydark);
		}
	}
}

.entry-content {
	a:not(.wp-block-button__link) {
		@include var(background-color, body);
		&:visited {
			@include var(background-color, primary);
		}
	}
}

.entry-title {
	a:not(.wp-block-button__link) {
		@include var(box-shadow, primary, inset 0 0 0 0);
		border-bottom: 0;
	}
}