a {
	color: $color__text-main;
	font-weight: 700;
	
	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-visited;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.site-title,
.entry-title,
.entry-content, {
	a:not(.wp-block-button__link) {
		border-bottom: 1px solid $color__primary;
		box-shadow: inset 0 -4px 0 0 $color__primary;
		color: $color__link;
		display: inline;
		font-weight: 700;
		text-decoration: none;
		transition: all .25s ease-in;
		
		&:visited {
			color: $color__text-main;
		}
		&:hover,
		&:focus,
		&:active {
			box-shadow: inset 0 -2em 0 0 $color__primary;
			color: $color__link;
		}
	}
}

.comment-author {
	.fn a {
		border-bottom: 1px solid $color__primary;
		box-shadow: inset 0 -2px 0 0 $color__primary;
		color: $color__link;
		display: inline;
		font-weight: 700;
		text-decoration: none;
		transition: all .25s ease-in;
		
		&:visited {
			color: $color__text-main;
		}
		&:hover,
		&:focus,
		&:active {
			box-shadow: inset 0 -2em 0 0 $color__primary;
			color: $color__link;
		}
	}
}

.comment-metadata {
	a {
		color: $color__text-input;

		&:hover,
		&:focus {
			color: $color__link-hover;
		}
	}
}

.entry-content {
	a:not(.wp-block-button__link) {
		background-color: #ffffff;
		&:visited {
			background-color: $color__primary;
		}
	}
}

.entry-title {
	a:not(.wp-block-button__link) {
		box-shadow: inset 0 0 0 0 $color__primary;
		border-bottom: 0;
	}
}