a {
	border-bottom: 1px solid $color__primary;
	box-shadow: inset 0 -4px 0 0 $color__primary;
	color: $color__link;
	display: inline-block;
	font-weight: 700;
	text-decoration: none;
	transition: all .25s ease-in;
	
	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		box-shadow: inset 0 -2em 0 0 $color__primary;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}