.legit-header-grid {
    margin: 0 0 60px;
    padding: 60px 20px;
    background-image: linear-gradient(-103deg, #F8F8F8 6%, #F6F6F6 100%);
    
    @media #{$break-medium} {
        display: flex;
        margin: 0 10px 60px;
        padding: 60px 30px;
    }
}

.legit-header {
    max-width: $size__content-xlarge;
	width: 100%;
	margin: 0 auto;
    padding: 0;
    flex: 1 0 45%;
    z-index: 2;

    h1 {
        margin-top: 0;
    }

    p {
        max-width: 380px;
    }
}

.legit-header-image {
    flex: 1 0 55%;
    z-index: 1;

    img,
    svg {
        width: 100%;
        height: auto;
    }
}

@supports ( display: grid ) {
    @media #{$break-medium} {
        .legit-header-grid {
            display: grid;
            grid-template-columns: repeat( 10, 1fr );
            grid-template-rows: auto;
        }

        .legit-header {
            grid-column: 1 / 6;
            grid-row: 1 / 2;
        }

        .legit-header-image {
            grid-column: 5 / 11;
            grid-row: 1 / 2;
        }
    }
}