.site-footer {
    margin: 2em 0 3em;
    
    @media #{$break-medium} {
        margin: 6em 0 3em;
    }

    .site-info {
        @include font-size(1);
        width: 100%;
        margin: 0 20px;
        color: $color__secondary;

        @media #{$break-medium} {
            width: calc( 100% - 33% - 40px );
            margin: 0 0 0 auto;
        }

        @media #{$break-large} {
            width: calc( 100% - 20% - 40px );
        }
    }
}

.widget-area--footer {
    @include font-size(1);
    margin: 2em auto;
    justify-content: flex-start;

    @media #{$break-medium} {
        margin-top: 2em;
    }

    .site-title {
        @include font-size(1.5);
    }

    .widget {
        max-width: 100%;
        margin: 0 0 1em;
        
        @media #{$break-medium} {
            width: calc( 33% - 80px );
            margin: 0 $size__padding-xlarge 1em;
            padding: 0;

            &:nth-child(4) {
                margin-left: auto;
            }
        }

        @media #{$break-large} {
			width: calc( 20% - 80px );
        }

		.widget-title {
			@include font-size(1.5);
			text-align: left;
			margin-top: 0;
		}

		.textwidget {
			*:first-child {
				margin-top: 0;
			}
		}
    }
    
    .widget_nav_menu {
        .menu {
            margin-bottom: 1em;
        }

        li {
            margin-bottom: 0.5em;
        }

        a {
            text-decoration: none;
            color: $color__secondary;
            font-weight: 400;

            &:hover,
            &:focus {
                color: $color__link-hover;
            }
        }
    }
}