.site-header {
	max-width: $size__content-xlarge;
	padding: 0 $size__padding-xlarge;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	.site-branding {
		flex: 1 0 auto;
	}

	.main-navigation {
		flex: 0 1 auto;
	}

	.site-branding,
	.main-navigation {
		padding: 20px 0;

		@media #{$break-medium} {
			padding: 40px 0;
		}
	}
}

.site-search {
	display: none;
	width: 100%;
	padding: 40px 0 0;

	form {
		display: flex;

		label {
			flex: 1 0 auto;

			input {
				width: 100%;
			}
		}
	}

	input[type="submit"] {
		margin-left: 10px;
		@include font-size(1.125);
	}
}

.site-title {
	@include font-size(2);
	line-height: 1.25;
	margin: 0;

	a {
		text-decoration: none;
	}
}

.site-description {
	@include font-size(0.875);
	margin: 0;
	color: $color__secondary;
}