.site-header {
	max-width: $size__content-xlarge;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	@media #{$break-medium} {
		padding: 0 $size__padding-xlarge;
	}

	.site-branding {
		flex: 1 0 auto;
	}

	.main-navigation {
		display: flex;
		flex: 0 1 auto;
	}

	.site-branding,
	.main-navigation {
		padding: 20px 0;

		@media #{$break-medium} {
			padding: 40px 0;
		}
	}
}

.site-search {
	display: none;
	width: 100%;
	padding: 40px 0 0;

	form {
		display: flex;

		label {
			flex: 1 0 auto;

			input {
				width: 100%;
			}
		}
	}

	input[type="submit"] {
		margin-left: 10px;
		@include font-size(1.125);
	}
	
	button {
		padding: 10px 0;
		float: right;
		background-color: transparent;
		border-width: 0;
	}
}

.site-title {
	@include font-size(1.75);
	line-height: 1.25;
	margin: 0;

	@media #{$break-medium} {
		@include font-size(2);
	}

	a {
		text-decoration: none;
	}
}

.site-description {
	@include font-size(0.75);
	margin: 5px 0 0;
	color: $color__secondary;
	max-width: 170px;
	line-height: 1.5;

	@media #{$break-medium} {
		@include font-size(0.875);
		max-width: 200px;
		margin: 0;
		line-height: 2;
	}
}
